In [1]:
#Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
import requests
import time
from scipy.stats import linregress
import gmaps
import os
%matplotlib inline
#files to load
data_1 = "Resources/California_School_District_Areas_2019-20.csv"
data_2 = "Resources/California_School_District_Areas_2020-21.csv"

# Read Files and store into Pandas data frame
school_2020_df = pd.read_csv(data_1)
school_2021_df = pd.read_csv(data_2)

In [2]:
#check data frame data_1
school_2020_df.head()

,OBJECTID,Year,FedID,CDCode,CDSCode,CountyName,DistrictName,DistrictType,GradeLow,GradeHigh,...,MIGcount,MIGpct,SWDcount,SWDpct,SEDcount,SEDpct,FRPMcount,FRPMpct,SHAPE_Length,SHAPE_Area
0,1,2019-20,601770,161119,1611190000000,Alameda,Alameda Unified,Unified,PK,12,...,0,0.0,1303,11.5,3421,30.299999,3317,29.400000,56522.982848,-4.755489e+07
1,2,2019-20,601860,161127,1611270000000,Alameda,Albany City Unified,Unified,KG,12,...,0,0.0,317,8.8,658,18.299999,635,17.700001,12696.382778,-7.096327e+06
2,3,2019-20,604740,161143,1611430000000,Alameda,Berkeley Unified,Unified,PK,12,...,0,0.0,1097,11.1,2789,28.299999,2673,27.200001,43695.341232,-4.364648e+07
3,4,2019-20,607800,161150,1611500000000,Alameda,Castro Valley Unified,Unified,PK,12,...,0,0.0,821,8.8,2121,22.799999,2036,21.799999,142492.767571,-2.838285e+08
4,5,2019-20,612630,161168,1611680000000,Alameda,Emery Unified,Unified,PK,12,...,0,0.0,73,10.1,521,72.300003,507,70.300003,13741.273106,-5.363392e+06

In [3]:
#check data frame data_2
school_2021_df.head()

,OBJECTID,Year,FedID,CDCode,CDSCode,CountyName,DistrictName,DistrictType,GradeLow,GradeHigh,...,MIGpct,SWDcount,SWDpct,SEDcount,SEDpct,FRPMcount,FRPMpct,DistrctAreaSqMi,Shape__Area,Shape__Length
0,1,2020-21,601770,161119,1611190000000,Alameda,Alameda Unified,Unified,PK,12,...,0.0,1275,11.7,3202,29.3,3101,28.4,11.455570,4.755489e+07,56522.982683
1,2,2020-21,601860,161127,1611270000000,Alameda,Albany City Unified,Unified,KG,12,...,0.0,311,8.9,608,17.4,587,16.8,1.703654,7.096327e+06,12696.382797
2,3,2020-21,604740,161143,1611430000000,Alameda,Berkeley Unified,Unified,PK,12,...,0.0,1091,11.6,2563,27.2,2431,25.8,10.483362,4.364648e+07,43695.341538
3,4,2020-21,607800,161150,1611500000000,Alameda,Castro Valley Unified,Unified,PK,12,...,0.0,850,9.2,2067,22.5,1977,21.5,68.442604,2.838285e+08,142492.767565
4,5,2020-21,612630,161168,1611680000000,Alameda,Emery Unified,Unified,PK,12,...,0.0,69,9.9,561,80.4,555,79.5,1.289416,5.363392e+06,13741.272894

In [4]:
#eliminating columns data_1
#check the columns
# school_2020_df.columns

reduced_school_2020_df = school_2020_df[["Year", "CountyName",
       "EnrollTotal", "EnrollCharter", "EnrollNonCharter", "AAcount",
       "AIcount","AScount", "FIcount", "HIcount",
       "PIcount", "WHcount", "MRcount", "NRcount", "ELcount", "FOScount",
       "HOMcount", "MIGcount", "SWDcount",
       "SEDcount"]]


reduced_school_2020_df

,Year,CountyName,EnrollTotal,EnrollCharter,EnrollNonCharter,AAcount,AIcount,AScount,FIcount,HIcount,PIcount,WHcount,ELcount,FOScount,HOMcount,MIGcount,SWDcount,SEDcount
0,2019-20,Alameda,11285,1913,9372,795,34,2911,630,1992,63,3210,1455,17,79,0,1303,3421
1,2019-20,Alameda,3586,0,3586,106,5,1042,38,580,4,1067,507,1,5,0,317,658
2,2019-20,Alameda,9844,0,9844,1282,14,712,84,2188,12,4054,813,21,221,0,1097,2789
3,2019-20,Alameda,9321,0,9321,472,18,2646,416,2215,38,2389,1067,13,93,0,821,2121
4,2019-20,Alameda,721,0,721,317,2,76,7,181,8,66,155,0,12,0,73,521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,2019-20,Yuba,524,474,50,9,10,6,0,107,4,340,11,5,1,0,81,249
939,2019-20,Yuba,10157,571,9586,383,236,876,54,4445,43,3619,2102,114,185,23,1249,8103
940,2019-20,Yuba,1359,0,1359,44,3,77,15,393,6,669,74,8,0,0,134,505
941,2019-20,Yuba,1393,93,1300,53,7,20,19,372,11,749,80,7,26,2,146,652
942,2019-20,Yuba,878,0,878,23,14,29,13,256,7,388,26,10,6,0,120,407

In [5]:
##eliminating columns data_2
reduced_school_2021_df = school_2021_df[["Year", "CountyName",
       "EnrollTotal", "EnrollCharter", "EnrollNonCharter", "AAcount",
       "AIcount","AScount", "FIcount", "HIcount",
       "PIcount", "WHcount", "ELcount", "FOScount",
       "HOMcount", "MIGcount", "SWDcount",
       "SEDcount"]]
reduced_school_2021_df

,Year,CountyName,EnrollTotal,EnrollCharter,EnrollNonCharter,AAcount,AIcount,AScount,FIcount,HIcount,PIcount,WHcount,ELcount,FOScount,HOMcount,MIGcount,SWDcount,SEDcount
0,2020-21,Alameda,10927,1856,9071,715,29,2768,605,1989,61,3021,1316,16,77,0,1275,3202
1,2020-21,Alameda,3501,0,3501,118,7,1010,39,577,3,1007,400,2,3,0,311,608
2,2020-21,Alameda,9409,0,9409,1193,26,781,79,2084,13,3889,635,16,199,0,1091,2563
3,2020-21,Alameda,9203,0,9203,451,10,2711,425,2150,36,2237,996,17,92,0,850,2067
4,2020-21,Alameda,698,0,698,315,2,77,6,169,8,60,140,0,1,0,69,561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
937,2020-21,Yuba,572,522,50,15,10,9,0,105,0,367,8,3,7,0,88,252
938,2020-21,Yuba,9930,570,9360,368,183,870,54,4484,33,3379,2051,77,76,27,1307,7278
939,2020-21,Yuba,1348,0,1348,47,5,75,19,399,6,650,63,6,1,1,142,485
940,2020-21,Yuba,1278,92,1186,40,6,18,17,352,11,660,71,3,42,2,142,535
941,2020-21,Yuba,932,0,932,32,11,33,12,276,11,428,36,11,11,0,129,473

In [6]:
#rename columns to make it easier to read-2020 data
county_2020_df = reduced_school_2020_df.rename(columns={"AAcount":"African American",
       "AIcount": "American Indian","AScount":"Asian", "FIcount":"Filipino", "HIcount": "Hispanic",
       "PIcount": "Pacific Islander", "WHcount": "White", "MRcount": "Two or More Races", "NRcount": "Not Reported Races", "ELcount": "English Learner", "FOScount": "Foster Care",
       "HOMcount": "Homeless", "MIGcount": "Migrant", "SWDcount": "Students with Disabilities",
       "SEDcount": "Socioeconomically Disadvantaged"})
county_2020_df

,Year,CountyName,EnrollTotal,EnrollCharter,EnrollNonCharter,African American,American Indian,Asian,Filipino,Hispanic,Pacific Islander,White,English Learner,Foster Care,Homeless,Migrant,Students with Disabilities,Socioeconomically Disadvantaged
0,2019-20,Alameda,11285,1913,9372,795,34,2911,630,1992,63,3210,1455,17,79,0,1303,3421
1,2019-20,Alameda,3586,0,3586,106,5,1042,38,580,4,1067,507,1,5,0,317,658
2,2019-20,Alameda,9844,0,9844,1282,14,712,84,2188,12,4054,813,21,221,0,1097,2789
3,2019-20,Alameda,9321,0,9321,472,18,2646,416,2215,38,2389,1067,13,93,0,821,2121
4,2019-20,Alameda,721,0,721,317,2,76,7,181,8,66,155,0,12,0,73,521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,2019-20,Yuba,524,474,50,9,10,6,0,107,4,340,11,5,1,0,81,249
939,2019-20,Yuba,10157,571,9586,383,236,876,54,4445,43,3619,2102,114,185,23,1249,8103
940,2019-20,Yuba,1359,0,1359,44,3,77,15,393,6,669,74,8,0,0,134,505
941,2019-20,Yuba,1393,93,1300,53,7,20,19,372,11,749,80,7,26,2,146,652
942,2019-20,Yuba,878,0,878,23,14,29,13,256,7,388,26,10,6,0,120,407

In [7]:
#rename columns to make it easier to read-2021 data
county_2021_df = reduced_school_2021_df.rename(columns={"AAcount":"African American",
       "AIcount": "American Indian","AScount":"Asian", "FIcount":"Filipino", "HIcount": "Hispanic",
       "PIcount": "Pacific Islander", "WHcount": "White", "ELcount": "English Learner", "FOScount": "Foster Care",
       "HOMcount": "Homeless", "MIGcount": "Migrant", "SWDcount": "Students with Disabilities",
       "SEDcount": "Socioeconomically Disadvantaged"})
county_2021_df

,Year,CountyName,EnrollTotal,EnrollCharter,EnrollNonCharter,African American,American Indian,Asian,Filipino,Hispanic,Pacific Islander,White,English Learner,Foster Care,Homeless,Migrant,Students with Disabilities,Socioeconomically Disadvantaged
0,2020-21,Alameda,10927,1856,9071,715,29,2768,605,1989,61,3021,1316,16,77,0,1275,3202
1,2020-21,Alameda,3501,0,3501,118,7,1010,39,577,3,1007,400,2,3,0,311,608
2,2020-21,Alameda,9409,0,9409,1193,26,781,79,2084,13,3889,635,16,199,0,1091,2563
3,2020-21,Alameda,9203,0,9203,451,10,2711,425,2150,36,2237,996,17,92,0,850,2067
4,2020-21,Alameda,698,0,698,315,2,77,6,169,8,60,140,0,1,0,69,561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
937,2020-21,Yuba,572,522,50,15,10,9,0,105,0,367,8,3,7,0,88,252
938,2020-21,Yuba,9930,570,9360,368,183,870,54,4484,33,3379,2051,77,76,27,1307,7278
939,2020-21,Yuba,1348,0,1348,47,5,75,19,399,6,650,63,6,1,1,142,485
940,2020-21,Yuba,1278,92,1186,40,6,18,17,352,11,660,71,3,42,2,142,535
941,2020-21,Yuba,932,0,932,32,11,33,12,276,11,428,36,11,11,0,129,473

In [8]:
#reduce rows to 1 per county-2020
school_2020 = county_2020_df.groupby("CountyName").sum()
school_2020

,EnrollTotal,EnrollCharter,EnrollNonCharter,African American,American Indian,Asian,Filipino,Hispanic,Pacific Islander,White,English Learner,Foster Care,Homeless,Migrant,Students with Disabilities,Socioeconomically Disadvantaged
CountyName,,,,,,,,,,,,,,,,
Alameda,222812,19329,203483,20106,577,60099,10260,75114,2231,38721,43172,402,3062,989,24319,95233
Alpine,70,0,70,0,36,0,0,2,0,26,0,2,14,0,12,43
Amador,3958,0,3958,18,89,20,20,868,8,2633,121,19,75,0,523,1607
Butte,28777,2926,25851,587,661,1757,124,7230,98,16126,1900,247,1234,123,3558,17222
Calaveras,4885,0,4885,33,78,30,17,1052,4,3364,189,70,144,0,805,2511
Colusa,4698,0,4698,33,55,52,3,3729,9,768,1788,32,224,253,547,3673
Contra Costa,172089,5929,166160,14712,514,23019,7193,62267,1064,49753,27395,540,1974,12,20454,69751
Del Norte,3981,275,3706,25,561,186,22,887,3,2037,263,50,158,0,567,2672
El Dorado,29489,5423,24066,312,225,1108,413,6013,78,19618,1949,131,560,0,3498,9447
Fresno,203732,11858,191874,9605,1175,19183,1569,133219,477,33613,36717,1411,1809,3586,19469,152250
Glenn,5574,417,5157,24,106,124,12,3107,6,2038,1036,26,180,65,667,4024
Humboldt,17279,1920,15359,174,1568,579,43,3273,94,9822,1300,303,671,7,2653,10186
Imperial,36533,374,36159,239,358,147,58,33932,11,1556,14447,294,1526,2931,3535,28457
Inyo,2752,0,2752,11,439,22,5,1076,3,990,275,15,2,0,327,1531
Kern,193191,15156,178035,10553,963,4713,2534,125821,416,43072,33763,1142,3516,5111,20237,143113
Kings,29599,4901,24698,1050,298,282,468,20913,65,5583,5072,241,562,650,2609,21220
Lake,9811,271,9540,148,396,58,41,3783,13,4705,1302,42,441,254,1142,7290
Lassen,3800,507,3293,48,147,32,29,732,57,2505,128,46,48,16,352,1888
Los Angeles,1424636,202912,1221724,101993,2816,111570,31017,932214,4122,195095,256603,10027,45644,3320,168035,999012
Madera,31343,2132,29211,439,349,446,65,23364,21,6032,6895,218,630,779,2749,25144
Marin,32992,646,32346,522,138,1525,211,10351,77,17920,4968,59,1135,12,3454,9861
Mariposa,1824,141,1683,9,65,16,13,370,0,1209,86,27,96,0,175,1181
Mendocino,13192,1182,12010,84,881,115,48,5824,10,5346,2649,192,719,637,1591,9933
Merced,58053,336,57717,1469,302,3135,281,43181,180,8425,13728,400,1358,1140,5747,45654
Modoc,1369,0,1369,12,70,8,7,481,5,721,246,16,2,11,46,946
Mono,1622,0,1622,4,25,13,2,880,0,665,339,0,3,0,165,886
Monterey,75672,967,74705,1002,208,1294,1226,61410,349,8736,26169,149,7551,2876,8023,57219
Napa,19914,930,18984,384,43,449,1228,11277,38,5716,4380,80,202,1001,2415,10246
Nevada,8386,1514,6872,55,88,82,25,1147,11,6344,151,37,164,0,1100,3819
Orange,465428,14263,451165,5867,865,79727,9632,227292,1431,116829,100401,1614,22110,541,52723,231975
Placer,74758,9483,65275,1569,463,4913,2132,15405,291,44343,5107,142,988,13,8003,21392
Plumas,2186,326,1860,26,76,8,3,347,1,1558,65,19,49,0,266,1278
Riverside,419014,18291,400723,24546,1867,13668,7986,271217,1454,81796,72131,2446,14322,2097,52279,279636
Sacramento,246750,34757,211993,26236,1346,38104,6725,80177,3424,71318,43095,1108,6949,850,30997,150193
San Benito,11512,542,10970,49,37,146,87,8746,19,2128,2887,41,255,1311,1431,6720
San Bernardino,402262,30395,371867,32581,1670,15624,5290,266071,1590,66842,60639,3542,24379,0,47964,292828
San Diego,491983,69717,422266,20963,2367,30299,18359,237852,2105,145104,92170,1035,15487,2793,61867,252520
San Francisco,61031,8253,52778,4757,185,17927,2363,19752,498,8877,16920,276,2515,125,7035,31735
San Joaquin,147313,19060,128253,11117,992,17759,5968,78351,1056,25353,28862,866,3436,1055,16951,94412
San Luis Obispo,33976,404,33572,284,136,556,339,13805,55,17160,4367,211,1966,337,4142,15124
San Mateo,93246,7589,85657,1206,135,15006,7420,35437,1583,22308,19381,128,1557,331,9986,32278
Santa Barbara,68228,3853,64375,597,253,1074,710,48150,82,15004,17272,258,7000,2132,7543,44415
Santa Clara,251290,20781,230509,4372,767,77925,10060,93640,1088,47833,52785,444,2754,772,25964,91003
Santa Cruz,38704,5815,32889,299,149,829,285,22183,61,13128,9525,108,2027,1452,4848,21278
Shasta,26309,3917,22392,332,1015,929,70,4223,93,17531,870,257,476,29,3011,14593
Sierra,432,0,432,3,2,1,0,72,1,330,13,2,15,0,53,204
Siskiyou,5334,0,5334,80,395,113,16,924,13,3131,181,63,216,3,443,3495
Solano,62113,4744,57369,8280,233,2453,5262,25149,666,14764,7591,269,665,422,6853,31976
Sonoma,67673,18584,49089,1035,571,2073,514,31522,279,28097,12514,313,503,1041,9084,32511
Stanislaus,107790,8648,99142,2671,687,4628,925,66270,739,26807,25343,471,906,1823,12444,74371
Sutter,22848,5707,17141,545,167,3029,124,8757,105,8630,3443,93,202,703,2108,14681
Tehama,10888,219,10669,84,233,109,20,4583,19,5463,1738,113,475,63,1320,7982
Trinity,1484,0,1484,3,89,84,0,147,3,1015,56,10,96,0,167,991
Tulare,101879,6938,94941,1065,703,2042,776,79871,157,14905,25171,761,2142,3901,7339,79984
Tuolumne,5939,682,5257,42,145,55,38,1030,25,4260,148,51,237,0,679,2865
Ventura,131679,2565,129114,1530,266,5911,2376,79310,246,37185,27863,383,4650,1117,15497,71776
Yolo,29909,2203,27706,826,149,3055,349,14277,164,9563,5085,197,601,559,3501,15136
Yuba,14311,1138,13173,512,270,1008,101,5573,71,5765,2293,144,218,25,1730,9916

In [9]:
#reduce rows to 1 per county-2021
school_2021 = county_2021_df.groupby("CountyName").sum()
school_2021

,EnrollTotal,EnrollCharter,EnrollNonCharter,African American,American Indian,Asian,Filipino,Hispanic,Pacific Islander,White,English Learner,Foster Care,Homeless,Migrant,Students with Disabilities,Socioeconomically Disadvantaged
CountyName,,,,,,,,,,,,,,,,
Alameda,218094,19142,198952,18958,543,60791,9893,73527,2076,36056,40130,442,2825,855,24977,90679
Alpine,73,0,73,0,30,1,1,3,0,34,0,0,9,0,11,45
Amador,3889,0,3889,17,80,16,18,897,6,2553,101,23,118,0,750,1674
Butte,27794,2945,24849,559,592,1726,119,7198,86,15256,1822,245,829,67,3651,16940
Calaveras,4543,0,4543,30,74,30,15,1027,5,3059,182,40,100,0,760,2251
Colusa,4635,0,4635,35,58,51,4,3708,8,724,1778,28,363,237,553,3376
Contra Costa,166137,5791,160346,13914,501,22948,7043,60601,988,46402,24723,493,1821,10,20298,65844
Del Norte,3818,254,3564,25,548,173,20,879,3,1904,233,64,134,0,552,2523
El Dorado,28414,5305,23109,272,221,1155,412,5882,71,18700,1827,102,475,0,3528,8792
Fresno,201147,12784,188363,9313,1135,19336,1536,132198,486,32027,36323,1400,1876,3776,20268,155248
Glenn,5536,469,5067,29,102,120,8,3154,4,1965,1051,25,132,58,665,4213
Humboldt,16690,2004,14686,181,1508,569,39,3271,397,8989,1206,226,649,2,2704,9904
Imperial,35882,378,35504,234,328,137,64,33399,9,1463,13724,217,1371,2625,3787,27792
Inyo,2592,0,2592,14,417,23,2,1055,4,859,275,12,28,0,333,1432
Kern,189724,15948,173776,10101,884,4758,2409,125245,416,40783,31561,1124,3289,5056,20703,139138
Kings,29358,5396,23962,969,281,283,456,20941,70,5325,5240,226,496,572,2674,21319
Lake,9517,264,9253,136,378,59,36,3832,6,4397,1310,45,439,358,1167,7278
Lassen,3827,567,3260,44,146,31,19,752,64,2506,115,55,64,16,368,1880
Los Angeles,1378536,204091,1174445,96959,2516,108999,30182,904937,3853,185205,233176,10020,40080,3501,179484,959641
Madera,30760,1911,28849,374,324,459,62,23287,18,5590,6518,210,1058,739,2743,24979
Marin,31425,616,30809,521,120,1428,198,10186,69,16642,4747,54,1474,16,3430,9486
Mariposa,1757,153,1604,8,68,16,10,387,0,1121,91,26,86,0,184,1180
Mendocino,12779,1139,11640,77,828,98,49,5885,7,4920,2533,133,542,647,1601,9425
Merced,57193,304,56889,1431,275,3059,293,42997,164,7849,13689,345,1069,1232,5872,44283
Modoc,1342,0,1342,11,75,7,6,495,4,682,210,14,3,2,145,943
Mono,1519,0,1519,4,23,10,2,844,0,605,301,3,4,0,168,792
Monterey,73973,993,72980,883,181,1196,1145,60814,324,7969,25252,137,9164,2665,8338,57249
Napa,19434,269,19165,373,34,428,1190,11183,36,5395,4494,60,401,982,2452,10363
Nevada,7971,1535,6436,46,86,74,24,1125,9,5747,152,33,117,0,1108,3360
Orange,446027,12878,433149,5676,779,78215,9403,219945,1366,106997,90964,1608,20077,483,53631,224954
Placer,73477,10353,63124,1513,405,5056,2166,15627,280,42315,5001,159,805,33,8149,20766
Plumas,2035,374,1661,20,76,10,5,348,0,1383,62,18,46,0,270,1240
Riverside,408263,17900,390363,23637,1717,13596,7828,268087,1367,75386,68188,2643,12624,2084,52440,274447
Sacramento,242903,35792,207111,25118,1219,39469,6606,79273,3398,67878,38146,994,5400,917,31505,140871
San Benito,11406,542,10864,57,37,149,79,8735,24,1924,2591,38,163,1308,1525,6834
San Bernardino,393676,33309,360367,31082,1531,15718,5273,263353,1512,62669,58026,3397,22086,0,49849,284291
San Diego,477941,72972,404969,19720,2513,30582,17845,232209,2016,138748,82179,1086,15086,2550,66314,240946
San Francisco,58705,6949,51756,4351,153,17490,2258,18747,462,8480,13682,246,2355,135,7359,30866
San Joaquin,147184,21584,125600,10831,902,18435,6075,78564,1053,24362,27856,787,3924,938,17562,95383
San Luis Obispo,32724,465,32259,260,128,507,318,13625,43,16175,4090,199,2574,345,4208,15164
San Mateo,90067,6319,83748,1181,129,15105,7087,34181,1488,23055,17116,116,1541,278,10166,30217
Santa Barbara,66788,4145,62643,516,235,999,665,47671,70,14209,16994,281,6869,1965,7741,43252
Santa Clara,240795,18471,222324,4131,725,75969,9518,89996,1011,43848,45929,396,2332,679,26078,82393
Santa Cruz,37899,6358,31541,274,111,864,273,21931,57,12588,8464,79,3467,1431,4999,20444
Shasta,25454,4024,21430,312,983,915,69,4226,82,16753,879,239,304,51,3082,13799
Sierra,395,0,395,3,1,4,0,67,1,294,11,1,11,0,55,184
Siskiyou,5084,0,5084,65,331,148,13,897,15,2926,183,46,201,1,451,3208
Solano,60197,4995,55202,7885,205,2426,5060,24786,643,13765,7562,259,519,478,7089,30829
Sonoma,66039,18402,47637,1051,528,2052,541,31157,289,26810,11677,270,594,1062,9017,32288
Stanislaus,105713,8516,97197,2444,596,4621,899,66087,716,25395,25192,415,1189,1980,12621,71636
Sutter,23208,6468,16740,594,176,3030,136,8848,94,8744,3590,113,280,597,2358,14688
Tehama,10588,222,10366,80,221,114,18,4616,22,5179,1770,119,499,53,1346,7461
Trinity,1496,0,1496,2,72,95,0,153,2,1019,60,17,92,0,198,947
Tulare,100325,7839,92486,1014,690,1981,761,79161,152,13921,23980,725,1797,4033,8007,78192
Tuolumne,5582,667,4915,36,130,45,38,1021,24,3942,136,52,203,0,738,2490
Ventura,127744,2545,125199,1532,243,5738,2325,78260,225,34832,26413,386,4985,1055,15758,69442
Yolo,29261,2362,26899,839,151,2976,336,14117,167,9082,4692,192,481,507,3606,14577
Yuba,14060,1184,12876,502,215,1005,102,5616,61,5484,2229,100,137,30,1808,9023

In [10]:
# school_2019.count()
# school_2021.count()
#do not need to drop any nulls

#confirmed that everything is an integer
# school_2019.dtypes
# school_2021.dtypes

In [11]:
#added year column back 
school_2020['Year'] = "2019-2020"
school_2021['Year'] = "2020-2021"
# school_2020.head()
# school_2021.head()

In [12]:
#merge data
combined_data_df = pd.merge(school_2020, school_2021, how="outer", on=["CountyName"])
combined_data_df

,EnrollTotal_x,EnrollCharter_x,EnrollNonCharter_x,African American_x,American Indian_x,Asian_x,Filipino_x,Hispanic_x,Pacific Islander_x,White_x,...,Hispanic_y,Pacific Islander_y,White_y,English Learner_y,Foster Care_y,Homeless_y,Migrant_y,Students with Disabilities_y,Socioeconomically Disadvantaged_y,Year_y
CountyName,,,,,,,,,,,,,,,,,,,,,
Alameda,222812,19329,203483,20106,577,60099,10260,75114,2231,38721,...,73527,2076,36056,40130,442,2825,855,24977,90679,2020-2021
Alpine,70,0,70,0,36,0,0,2,0,26,...,3,0,34,0,0,9,0,11,45,2020-2021
Amador,3958,0,3958,18,89,20,20,868,8,2633,...,897,6,2553,101,23,118,0,750,1674,2020-2021
Butte,28777,2926,25851,587,661,1757,124,7230,98,16126,...,7198,86,15256,1822,245,829,67,3651,16940,2020-2021
Calaveras,4885,0,4885,33,78,30,17,1052,4,3364,...,1027,5,3059,182,40,100,0,760,2251,2020-2021
Colusa,4698,0,4698,33,55,52,3,3729,9,768,...,3708,8,724,1778,28,363,237,553,3376,2020-2021
Contra Costa,172089,5929,166160,14712,514,23019,7193,62267,1064,49753,...,60601,988,46402,24723,493,1821,10,20298,65844,2020-2021
Del Norte,3981,275,3706,25,561,186,22,887,3,2037,...,879,3,1904,233,64,134,0,552,2523,2020-2021
El Dorado,29489,5423,24066,312,225,1108,413,6013,78,19618,...,5882,71,18700,1827,102,475,0,3528,8792,2020-2021
Fresno,203732,11858,191874,9605,1175,19183,1569,133219,477,33613,...,132198,486,32027,36323,1400,1876,3776,20268,155248,2020-2021
Glenn,5574,417,5157,24,106,124,12,3107,6,2038,...,3154,4,1965,1051,25,132,58,665,4213,2020-2021
Humboldt,17279,1920,15359,174,1568,579,43,3273,94,9822,...,3271,397,8989,1206,226,649,2,2704,9904,2020-2021
Imperial,36533,374,36159,239,358,147,58,33932,11,1556,...,33399,9,1463,13724,217,1371,2625,3787,27792,2020-2021
Inyo,2752,0,2752,11,439,22,5,1076,3,990,...,1055,4,859,275,12,28,0,333,1432,2020-2021
Kern,193191,15156,178035,10553,963,4713,2534,125821,416,43072,...,125245,416,40783,31561,1124,3289,5056,20703,139138,2020-2021
Kings,29599,4901,24698,1050,298,282,468,20913,65,5583,...,20941,70,5325,5240,226,496,572,2674,21319,2020-2021
Lake,9811,271,9540,148,396,58,41,3783,13,4705,...,3832,6,4397,1310,45,439,358,1167,7278,2020-2021
Lassen,3800,507,3293,48,147,32,29,732,57,2505,...,752,64,2506,115,55,64,16,368,1880,2020-2021
Los Angeles,1424636,202912,1221724,101993,2816,111570,31017,932214,4122,195095,...,904937,3853,185205,233176,10020,40080,3501,179484,959641,2020-2021
Madera,31343,2132,29211,439,349,446,65,23364,21,6032,...,23287,18,5590,6518,210,1058,739,2743,24979,2020-2021
Marin,32992,646,32346,522,138,1525,211,10351,77,17920,...,10186,69,16642,4747,54,1474,16,3430,9486,2020-2021
Mariposa,1824,141,1683,9,65,16,13,370,0,1209,...,387,0,1121,91,26,86,0,184,1180,2020-2021
Mendocino,13192,1182,12010,84,881,115,48,5824,10,5346,...,5885,7,4920,2533,133,542,647,1601,9425,2020-2021
Merced,58053,336,57717,1469,302,3135,281,43181,180,8425,...,42997,164,7849,13689,345,1069,1232,5872,44283,2020-2021
Modoc,1369,0,1369,12,70,8,7,481,5,721,...,495,4,682,210,14,3,2,145,943,2020-2021
Mono,1622,0,1622,4,25,13,2,880,0,665,...,844,0,605,301,3,4,0,168,792,2020-2021
Monterey,75672,967,74705,1002,208,1294,1226,61410,349,8736,...,60814,324,7969,25252,137,9164,2665,8338,57249,2020-2021
Napa,19914,930,18984,384,43,449,1228,11277,38,5716,...,11183,36,5395,4494,60,401,982,2452,10363,2020-2021
Nevada,8386,1514,6872,55,88,82,25,1147,11,6344,...,1125,9,5747,152,33,117,0,1108,3360,2020-2021
Orange,465428,14263,451165,5867,865,79727,9632,227292,1431,116829,...,219945,1366,106997,90964,1608,20077,483,53631,224954,2020-2021
Placer,74758,9483,65275,1569,463,4913,2132,15405,291,44343,...,15627,280,42315,5001,159,805,33,8149,20766,2020-2021
Plumas,2186,326,1860,26,76,8,3,347,1,1558,...,348,0,1383,62,18,46,0,270,1240,2020-2021
Riverside,419014,18291,400723,24546,1867,13668,7986,271217,1454,81796,...,268087,1367,75386,68188,2643,12624,2084,52440,274447,2020-2021
Sacramento,246750,34757,211993,26236,1346,38104,6725,80177,3424,71318,...,79273,3398,67878,38146,994,5400,917,31505,140871,2020-2021
San Benito,11512,542,10970,49,37,146,87,8746,19,2128,...,8735,24,1924,2591,38,163,1308,1525,6834,2020-2021
San Bernardino,402262,30395,371867,32581,1670,15624,5290,266071,1590,66842,...,263353,1512,62669,58026,3397,22086,0,49849,284291,2020-2021
San Diego,491983,69717,422266,20963,2367,30299,18359,237852,2105,145104,...,232209,2016,138748,82179,1086,15086,2550,66314,240946,2020-2021
San Francisco,61031,8253,52778,4757,185,17927,2363,19752,498,8877,...,18747,462,8480,13682,246,2355,135,7359,30866,2020-2021
San Joaquin,147313,19060,128253,11117,992,17759,5968,78351,1056,25353,...,78564,1053,24362,27856,787,3924,938,17562,95383,2020-2021
San Luis Obispo,33976,404,33572,284,136,556,339,13805,55,17160,...,13625,43,16175,4090,199,2574,345,4208,15164,2020-2021
San Mateo,93246,7589,85657,1206,135,15006,7420,35437,1583,22308,...,34181,1488,23055,17116,116,1541,278,10166,30217,2020-2021
Santa Barbara,68228,3853,64375,597,253,1074,710,48150,82,15004,...,47671,70,14209,16994,281,6869,1965,7741,43252,2020-2021
Santa Clara,251290,20781,230509,4372,767,77925,10060,93640,1088,47833,...,89996,1011,43848,45929,396,2332,679,26078,82393,2020-2021
Santa Cruz,38704,5815,32889,299,149,829,285,22183,61,13128,...,21931,57,12588,8464,79,3467,1431,4999,20444,2020-2021
Shasta,26309,3917,22392,332,1015,929,70,4223,93,17531,...,4226,82,16753,879,239,304,51,3082,13799,2020-2021
Sierra,432,0,432,3,2,1,0,72,1,330,...,67,1,294,11,1,11,0,55,184,2020-2021
Siskiyou,5334,0,5334,80,395,113,16,924,13,3131,...,897,15,2926,183,46,201,1,451,3208,2020-2021
Solano,62113,4744,57369,8280,233,2453,5262,25149,666,14764,...,24786,643,13765,7562,259,519,478,7089,30829,2020-2021
Sonoma,67673,18584,49089,1035,571,2073,514,31522,279,28097,...,31157,289,26810,11677,270,594,1062,9017,32288,2020-2021
Stanislaus,107790,8648,99142,2671,687,4628,925,66270,739,26807,...,66087,716,25395,25192,415,1189,1980,12621,71636,2020-2021
Sutter,22848,5707,17141,545,167,3029,124,8757,105,8630,...,8848,94,8744,3590,113,280,597,2358,14688,2020-2021
Tehama,10888,219,10669,84,233,109,20,4583,19,5463,...,4616,22,5179,1770,119,499,53,1346,7461,2020-2021
Trinity,1484,0,1484,3,89,84,0,147,3,1015,...,153,2,1019,60,17,92,0,198,947,2020-2021
Tulare,101879,6938,94941,1065,703,2042,776,79871,157,14905,...,79161,152,13921,23980,725,1797,4033,8007,78192,2020-2021
Tuolumne,5939,682,5257,42,145,55,38,1030,25,4260,...,1021,24,3942,136,52,203,0,738,2490,2020-2021
Ventura,131679,2565,129114,1530,266,5911,2376,79310,246,37185,...,78260,225,34832,26413,386,4985,1055,15758,69442,2020-2021
Yolo,29909,2203,27706,826,149,3055,349,14277,164,9563,...,14117,167,9082,4692,192,481,507,3606,14577,2020-2021
Yuba,14311,1138,13173,512,270,1008,101,5573,71,5765,...,5616,61,5484,2229,100,137,30,1808,9023,2020-2021

In [13]:
combined_data_df.columns

Index(['EnrollTotal_x', 'EnrollCharter_x', 'EnrollNonCharter_x',
       'African American_x', 'American Indian_x', 'Asian_x', 'Filipino_x',
       'Hispanic_x', 'Pacific Islander_x', 'White_x', 'English Learner_x',
       'Foster Care_x', 'Homeless_x', 'Migrant_x',
       'Students with Disabilities_x', 'Socioeconomically Disadvantaged_x',
       'Year_x', 'EnrollTotal_y', 'EnrollCharter_y', 'EnrollNonCharter_y',
       'African American_y', 'American Indian_y', 'Asian_y', 'Filipino_y',
       'Hispanic_y', 'Pacific Islander_y', 'White_y', 'English Learner_y',
       'Foster Care_y', 'Homeless_y', 'Migrant_y',
       'Students with Disabilities_y', 'Socioeconomically Disadvantaged_y',
       'Year_y'],
      dtype='object')

In [14]:
#rename variables

combined_data_df = combined_data_df.rename(columns={"EnrollTotal_x": "EnrollTotal_2020", "EnrollCharter_x": "EnrollCharter_2020", "EnrollNonCharter_x": "EnrollNonCharter_2020",
       "African American_x": "African American_2020", "American Indian_x": "American Indian_2020" , "Asian_x": "Asian_2020", "Filipino_x": "Filipino_2020",
       "Hispanic_x": "Hispanic_2020", "Pacific Islander_x": "Pacific Islander_2020", "White_x": "White_2020", "Two or More Races_x": "Two or More Races_2020", "Not Reported Races_x": "Not Reported Races_2020", "English Learner_x": "English Learner_2020",
       "Foster Care_x": "Foster Care_2020", "Homeless_x": "Homeless_2020", "Migrant_x": "Migrant_2020",
       "Students with Disabilities_x": "Students with Disabilities_2020", "Socioeconomically Disadvantaged_x": "Socioeconomically Disadvantaged_2020", "Year_x": "Year:2020"})

combined_data_df = combined_data_df.rename(columns={"EnrollTotal_y": "EnrollTotal_2021", "EnrollCharter_y": "EnrollCharter_2021", "EnrollNonCharter_y": "EnrollNonCharter_2021",
       "African American_y": "African American_2021", "American Indian_y": "American Indian_2021" , "Asian_y": "Asian_2021", "Filipino_y": "Filipino_2021",
       "Hispanic_y": "Hispanic_2021", "Pacific Islander_y": "Pacific Islander_2021", "White_y": "White_2021", "Two or More Races_y": "Two or More Races_2021", "Not Reported Races_y": "Not Reported Races_2021", "English Learner_y": "English Learner_2021",
       "Foster Care_y": "Foster Care_2021", "Homeless_y": "Homeless_2021", "Migrant_y": "Migrant_2021",
       "Students with Disabilities_y": "Students with Disabilities_2021", "Socioeconomically Disadvantaged_y": "Socioeconomically Disadvantaged_2021", "Year_y": "Year:2021"})
combined_data_df.head()

,EnrollTotal_2020,EnrollCharter_2020,EnrollNonCharter_2020,African American_2020,American Indian_2020,Asian_2020,Filipino_2020,Hispanic_2020,Pacific Islander_2020,White_2020,...,Hispanic_2021,Pacific Islander_2021,White_2021,English Learner_2021,Foster Care_2021,Homeless_2021,Migrant_2021,Students with Disabilities_2021,Socioeconomically Disadvantaged_2021,Year:2021
CountyName,,,,,,,,,,,,,,,,,,,,,
Alameda,222812,19329,203483,20106,577,60099,10260,75114,2231,38721,...,73527,2076,36056,40130,442,2825,855,24977,90679,2020-2021
Alpine,70,0,70,0,36,0,0,2,0,26,...,3,0,34,0,0,9,0,11,45,2020-2021
Amador,3958,0,3958,18,89,20,20,868,8,2633,...,897,6,2553,101,23,118,0,750,1674,2020-2021
Butte,28777,2926,25851,587,661,1757,124,7230,98,16126,...,7198,86,15256,1822,245,829,67,3651,16940,2020-2021
Calaveras,4885,0,4885,33,78,30,17,1052,4,3364,...,1027,5,3059,182,40,100,0,760,2251,2020-2021

In [15]:
combined_data_df.columns

Index(['EnrollTotal_2020', 'EnrollCharter_2020', 'EnrollNonCharter_2020',
       'African American_2020', 'American Indian_2020', 'Asian_2020',
       'Filipino_2020', 'Hispanic_2020', 'Pacific Islander_2020', 'White_2020',
       'English Learner_2020', 'Foster Care_2020', 'Homeless_2020',
       'Migrant_2020', 'Students with Disabilities_2020',
       'Socioeconomically Disadvantaged_2020', 'Year:2020', 'EnrollTotal_2021',
       'EnrollCharter_2021', 'EnrollNonCharter_2021', 'African American_2021',
       'American Indian_2021', 'Asian_2021', 'Filipino_2021', 'Hispanic_2021',
       'Pacific Islander_2021', 'White_2021', 'English Learner_2021',
       'Foster Care_2021', 'Homeless_2021', 'Migrant_2021',
       'Students with Disabilities_2021',
       'Socioeconomically Disadvantaged_2021', 'Year:2021'],
      dtype='object')

In [16]:
#confirming again there are no nulls
combined_data_df.count()

EnrollTotal_2020                        58
EnrollCharter_2020                      58
EnrollNonCharter_2020                   58
African American_2020                   58
American Indian_2020                    58
Asian_2020                              58
Filipino_2020                           58
Hispanic_2020                           58
Pacific Islander_2020                   58
White_2020                              58
English Learner_2020                    58
Foster Care_2020                        58
Homeless_2020                           58
Migrant_2020                            58
Students with Disabilities_2020         58
Socioeconomically Disadvantaged_2020    58
Year:2020                               58
EnrollTotal_2021                        58
EnrollCharter_2021                      58
EnrollNonCharter_2021                   58
African American_2021                   58
American Indian_2021                    58
Asian_2021                              58
Filipino_2021                           58
Hispanic_2021                           58
Pacific Islander_2021                   58
White_2021                              58
English Learner_2021                    58
Foster Care_2021                        58
Homeless_2021                           58
Migrant_2021                            58
Students with Disabilities_2021         58
Socioeconomically Disadvantaged_2021    58
Year:2021                               58
dtype: int64

## Student Enrollment situation  pre-Covid vs. post-Covid

### Factor:  Students with Disabilities

In [17]:
# extract column
disable_df=pd.DataFrame(combined_data_df[["EnrollTotal_2020","Students with Disabilities_2020"\
                             ,"EnrollTotal_2021","Students with Disabilities_2021"]])

# add percentage column for 2019 and 2021
disable_df["percent_2020"] = round(disable_df["Students with Disabilities_2020"]/disable_df["EnrollTotal_2020"]*100,2)
disable_df["percent_2021"] = round(disable_df["Students with Disabilities_2021"]/disable_df["EnrollTotal_2021"]*100,2)

# calculate the average percentage difference
avgDiff = (disable_df["percent_2021"] - disable_df["percent_2020"]).sum()/len(disable_df)

# formatting the column
disable_df["percent_2021"] =disable_df["percent_2021"].map("%{:.2f}".format)
disable_df["percent_2020"] =disable_df["percent_2020"].map("%{:.2f}".format)

disable_df.head()

KeyError: "['EnrollTotal_2019', 'Students with Disabilities_2019'] not in index"

In [ ]:
sum_2020 = disable_df["EnrollTotal_2020"].sum()
disableSum_2020 = disable_df["Students with Disabilities_2020"].sum()
percent_2020 = disableSum_2020/sum_2020*100 

sum_2021 = disable_df["EnrollTotal_2021"].sum()
disableSum_2021 = disable_df["Students with Disabilities_2021"].sum()
percent_2021 = disableSum_2021/sum_2021*100

In [ ]:


# create summary data frame
disableSummary_df = pd.DataFrame({"Total Enrollment in 2020" : [sum_2020],
                                  "Total Enrollment of Students with Disabilities in 2020":[disableSum_2020],
                                  "Percent of Students with Disabilities in 2020" : [percent_2020],
                                  "Total Enrollment in 2021" : [sum_2021],
                                  "Total Enrollment of Students with Disabilities in 2021":[disableSum_2021],
                                  "Percent of Students with Disabilities in 2021" : [percent_2021],
                                  "Average percentage differnce" : [avgDiff]
                                })

# fomatting columns
disableSummary_df["Percent of Students with Disabilities in 2020"]\
=disableSummary_df["Percent of Students with Disabilities in 2020"].map("%{:.2f}".format)

disableSummary_df["Percent of Students with Disabilities in 2021"]\
=disableSummary_df["Percent of Students with Disabilities in 2021"].map("%{:.2f}".format)

disableSummary_df["Average percentage differnce"]\
=disableSummary_df["Average percentage differnce"].map("%{:.2f}".format)

disableSummary_df

### Graphic Summary

In [ ]:
# create grouped barchart
df = pd.DataFrame({"Total Enrollment in 2020" : [sum_2020],
                   "Total Enrollment of Students with Disabilities in 2020":[disableSum_2020],
                   "Total Enrollment in 2021" : [sum_2021],
                   "Total Enrollment of Students with Disabilities in 2021":[disableSum_2021]
                   })

type_enrollments = ["Total Enrollment in 2020", "Total Students w/Disabilities in 2020", 
                    "Total Enrollment in 2021", "Total Students w/Disabilities in 2021" ]
enrollments = [df["Total Enrollment in 2020"].sum()
              ,df["Total Enrollment of Students with Disabilities in 2020"].sum()
              ,df["Total Enrollment in 2021"].sum()
              ,df["Total Enrollment of Students with Disabilities in 2021"].sum()]

x_axis = np.arange(len(type_enrollments))
plt.rcParams["figure.figsize"] = (12,7)
plt.bar(x_axis, enrollments, align="center")
tick_locations = [value for value in x_axis]
plt.xticks(tick_locations, type_enrollments)
plt.title("Students with Disabilities 2019 vs 2021", fontsize = 14)
plt.xlabel("Years")
plt.ylabel("Enrollment Totals")
plt.savefig("Images/Disable.png")
plt.show()

### The average difference of _Students with Disabilities_ enrollment percentage between 2019 and 2021 is 0.83%.  The pandemic doesn't display a significant effect on overall enrollment of _Students with Disabilities_

 ### Factor:  Socioeconomically Disadvantaged

In [ ]:
# extract column
social_df=pd.DataFrame(combined_data_df[["EnrollTotal_2019","Socioeconomically Disadvantaged_2019"\
                             ,"EnrollTotal_2021","Socioeconomically Disadvantaged_2021"]])

# add new columns for percentage 
social_df["percent_2019"] = round(social_df["Socioeconomically Disadvantaged_2019"]/social_df["EnrollTotal_2019"]*100,2)
social_df["percent_2021"] = round(social_df["Socioeconomically Disadvantaged_2021"]/social_df["EnrollTotal_2021"]*100,2)

# calculate average percentage difference
avgDiff_socio = (social_df["percent_2021"] - social_df["percent_2019"]).sum()/len(social_df)

# formatting columns
social_df["percent_2021"] = social_df["percent_2021"].map("%{:.2f}".format)
social_df["percent_2019"] = social_df["percent_2019"].map("%{:.2f}".format)
social_df.head()

In [ ]:
socioDisadvan_2019 = social_df["Socioeconomically Disadvantaged_2019"].sum()
percentSocio_2019 = socioDisadvan_2019/sum_2019*100 

socioDisadvan_2021 = social_df["Socioeconomically Disadvantaged_2021"].sum()
percentSocio_2021 = socioDisadvan_2021/sum_2021*100

In [ ]:
# create summary data frame
socioSummary_df = pd.DataFrame({"Total Enrollment in 2019" : [sum_2019],
                                  "Total Enrollment of Socioeconomically Disadvantaged students 2019":[socioDisadvan_2019],
                                  "Percent of Socioeconomically Disadvantaged students in 2019" : [percentSocio_2019 ],
                                  "Total Enrollment in 2021" : [sum_2021],
                                  "Total Enrollment of Socioeconomically Disadvantaged students in 2021":[socioDisadvan_2021],
                                  "Percent of Socioeconomically Disadvantaged students in 2021" : [percentSocio_2021],
                                  "Average percentage differnce" : [avgDiff_socio]
                                })

# formatting columns
socioSummary_df["Percent of Socioeconomically Disadvantaged students in 2019"]\
=socioSummary_df["Percent of Socioeconomically Disadvantaged students in 2019"].map("%{:.2f}".format)

socioSummary_df["Percent of Socioeconomically Disadvantaged students in 2021"]\
=socioSummary_df["Percent of Socioeconomically Disadvantaged students in 2021"].map("%{:.2f}".format)

socioSummary_df["Average percentage differnce"]\
=socioSummary_df["Average percentage differnce"].map("%{:.2f}".format)

socioSummary_df

In [ ]:
index = ['2019', '2021']
df = pd.DataFrame({"Total Enrollment in 2019" : [sum_2019],
                   "Total Enrollment of Socioeconomically Disadvantaged students 2019":[socioDisadvan_2019],
                   "Total Enrollment in 2021" : [sum_2021],
                   "Total Enrollment of Socioeconomically Disadvantaged students in 2021":[socioDisadvan_2021]
                   })

ax = df.plot.bar()
plt.rcParams["figure.figsize"] = (12,7)
plt.title("Total Enrollment of Socioeconomically Disadvantaged students 2019 vs. 2021", fontsize = 14)
plt.xlabel("Total Number & Number of Socioeconomically Disadvantaged students", fontsize = 14)
plt.ylabel("Enrollment Number", fontsize = 14)
ax.legend()
plt.savefig("Images/Socio.png")

### The average difference of _Socioeconomically Disadvantaged Students_ enrollment percentage between 2019 and 2021 is -0.41%.  The pandemic doesn't display a significant effect on overall enrollment of _Socioeconomically Disadvantaged Students_

##Foster Care Data

In [ ]:
#reduce columns and added a percent column

foster_care_df = combined_data_df[["EnrollTotal_2020", "Foster Care_2020", "EnrollTotal_2021", "Foster Care_2021"]]
foster_care_df

foster_care_df["Percent Total 2020"] = (foster_care_df["Foster Care_2020"]/foster_care_df["EnrollTotal_2020"]*100)
foster_care_df["Percent Total 2021"] = (foster_care_df["Foster Care_2021"]/foster_care_df["EnrollTotal_2021"]*100)

foster_care_df.style.format(
    {"Percent Total 2020":"{:,.3f}%",
     "Percent Total 2021":"{:,.3f}%"
        
    })

In [ ]:
#did a sum of all rows, created a new data frame, formated numbers

total_foster_enrollment_2020 = foster_care_df["EnrollTotal_2020"].sum()
total_foster_2020 = foster_care_df["Foster Care_2020"].sum()
total_percent_2020 = total_foster_2020/total_foster_enrollment_2020*100

total_foster_enrollment_2021 = foster_care_df["EnrollTotal_2021"].sum()
total_foster_2021 = foster_care_df["Foster Care_2021"].sum()
total_percent_2021 = total_foster_2021/total_foster_enrollment_2021*100 

foster_summary_df = pd.DataFrame({
    "Total Enrollment 2020": [total_foster_enrollment_2020],
    "Total Foster 2020": [total_foster_2020],
    "Percent of Foster 2020": [total_percent_2020],
    "Total Enrollment 2021": [total_foster_enrollment_2021],
    "Total Foster 2021": [total_foster_2021],
    "Percent of Foster 2021": [total_percent_2021]
})

foster_summary_df.style.format({
    "Total Enrollment 2020": "{:,.2f}",
    "Total Foster 2020": "{:,.2f}",
    "Percent of Foster 2020": "{:,.3f}%",
    "Total Enrollment 2021": "{:,.2f}",
    "Total Foster 2021": "{:,.2f}",
    "Percent of Foster 2021": "{:,.3f}%"
})

In [ ]:
#created bar graph for foster enrollments

# type_enrollments = ["Total Foster 2020", "Total Foster 2021" ]
# enrollments = [31583, 30783]
# x_axis = np.arange(len(enrollments))

# plt.bar(x_axis, enrollments, align="center")

# tick_locations = [value for value in x_axis]
# plt.xticks(tick_locations, type_enrollments)

# plt.title("Foster Care Enrollments 2020 vs 2021")
# plt.xlabel("Years")
# plt.ylabel("Enrollment Totals")

# # foster_chart = foster_graph.plot(kind='bar')

# # # Set the xlabel and ylabel using class methods
# # foster_chart.set_xlabel("Types of Enrollment")
# # foster_chart.set_ylabel("Enrollment #'s'")


# plt.show()
# # plt.tight_layout() 


#we decided to change it to show counties

foster_care_bar_df = combined_data_df.reset_index()
FC_2020 = foster_care_bar_df['Foster Care_2020']
FC_2021 = foster_care_bar_df['Foster Care_2021']
foster_labels = foster_care_bar_df["CountyName"]

x = np.arange(len(foster_labels))  
width = 0.35 
fig, ax = plt.subplots(figsize=(12, 7))
# dpi=300
fc_bar1 = ax.bar(x - width/2, FC_2020, width, label='2020')
fc_bar2 = ax.bar(x + width/2, FC_2021, width, label='2021')


#added titles and labels
ax.set_ylabel('Foster')
ax.set_xlabel('Counties')
ax.set_title('Foster Care by Counties 2020 vs 2021')
ax.set_xticks(x)
ax.set_xticklabels(foster_labels, rotation="vertical")
ax.legend()
fig.tight_layout()
plt.show()

Migrant Data##

In [ ]:
migrant_df = combined_data_df[["EnrollTotal_2020", "Migrant_2020", "EnrollTotal_2021", "Migrant_2021"]]
migrant_df

migrant_df["Percent Total 2020"] = (migrant_df["Migrant_2020"]/migrant_df["EnrollTotal_2020"]*100)
migrant_df["Percent Total 2021"] = (migrant_df["Migrant_2021"]/migrant_df["EnrollTotal_2021"]*100)

migrant_df.style.format(
    {"Percent Total 2020":"{:,.3f}%",
     "Percent Total 2021":"{:,.3f}%"
        
    })

In [ ]:
total_migrant_enrollment_2020 = migrant_df["EnrollTotal_2020"].sum()
total_migrant_2020 = migrant_df["Migrant_2020"].sum()
total_migrant_percent_2020 = total_migrant_2020/total_migrant_enrollment_2020*100 

total_migrant_enrollment_2021 = migrant_df["EnrollTotal_2021"].sum()
total_migrant_2021 = migrant_df["Migrant_2021"].sum()
total_migrant_percent_2021 = total_migrant_2021/total_migrant_enrollment_2021*100 

foster_summary_df = pd.DataFrame({
    "Total Enrollment 2020": [total_migrant_enrollment_2020],
    "Total Migrant 2020": [total_migrant_2020],
    "Percent of Migrant 2020": [total_migrant_percent_2020],
    "Total Enrollment 2021": [total_migrant_enrollment_2021],
    "Total Migrant 2021": [total_migrant_2021],
    "Percent of Migrant 2021": [total_migrant_percent_2021]
})

foster_summary_df.style.format({
    "Total Enrollment 2020": "{:,.2f}",
    "Total Migrant 2020": "{:,.2f}",
    "Percent of Migrant 2020": "{:,.3f}%",
    "Total Enrollment 2021": "{:,.2f}",
    "Total Migrant 2021": "{:,.2f}",
    "Percent of Migrant 2021": "{:,.3f}%"
})

In [ ]:
#created bar graph for migrant enrollments

# type_of_enrollments = ["Total Migrants 2020", "Total Migrants 2021" ]
# enrollment_numb = [47268, 46409]
# x_axis = np.arange(len(enrollments))

# plt.bar(x_axis, enrollment_numb, align="center")

# tick_locations = [value for value in x_axis]
# plt.xticks(tick_locations, type_of_enrollments)

# plt.title("Migrant Enrollments 2020 vs 2021")
# plt.xlabel("Years")
# plt.ylabel("Enrollment Totals")

# # foster_chart = foster_graph.plot(kind='bar')

# # # Set the xlabel and ylabel using class methods
# # foster_chart.set_xlabel("Types of Enrollment")
# # foster_chart.set_ylabel("Enrollment #'s'")


# plt.show()

#we decided to change it to show counties

migrant_bar_df = combined_data_df.reset_index()
m_2020 = foster_care_bar_df['Migrant_2020']
m_2021 = foster_care_bar_df['Migrant_2021']
migrant_labels = foster_care_bar_df["CountyName"]

x = np.arange(len(foster_labels))  
width = 0.35 
fig, ax = plt.subplots(figsize=(12, 7))
# dpi=300
fc_bar1 = ax.bar(x - width/2, FC_2020, width, label='2020')
fc_bar2 = ax.bar(x + width/2, FC_2021, width, label='2021')


#added titles and labels
ax.set_ylabel('Migrant')
ax.set_xlabel('Counties')
ax.set_title('Migrant by Counties 2020 vs 2021')
ax.set_xticks(x)
ax.set_xticklabels(foster_labels, rotation="vertical")
ax.legend()
fig.tight_layout()
plt.show()

In [19]:
# Files to load

data_3 = "Resources/covid19cases_test.csv"

# Read file and store into pandas data frame

COVID19_cases_df = pd.read_csv(data_3)

In [20]:
# Eliminating columns in data_3

reduced_COVID19_cases_df = COVID19_cases_df[["date", "area", "cumulative_positive_tests"]]
reduced_COVID19_cases_df

             date     area  cumulative_positive_tests
0      2020-02-01  Alameda                          0
1      2020-02-02  Alameda                          0
2      2020-02-03  Alameda                          0
3      2020-02-04  Alameda                          0
4      2020-02-05  Alameda                          0
...           ...      ...                        ...
39889  2021-11-11     Yuba                      11873
39890  2021-11-12     Yuba                      11877
39891  2021-11-13     Yuba                      11880
39892  2021-11-14     Yuba                      11880
39893         NaN     Yuba                      11881

[39894 rows x 3 columns]

In [21]:
# Check the columns

reduced_COVID19_cases_df.columns

Index(['date', 'area', 'cumulative_positive_tests'], dtype='object')

In [28]:
# Rename columns to make it easier to read reduced_COVID19_cases data

CA_county_cases_df = reduced_COVID19_cases_df.rename(columns={"date": "Year",
                                                             "area" : "CountyName",
                                                             "cumulative_positive_tests": "Cumulative Positive Tests"})
CA_county_cases_df

             Year CountyName  Cumulative Positive Tests
0      2020-02-01    Alameda                          0
1      2020-02-02    Alameda                          0
2      2020-02-03    Alameda                          0
3      2020-02-04    Alameda                          0
4      2020-02-05    Alameda                          0
...           ...        ...                        ...
39889  2021-11-11       Yuba                      11873
39890  2021-11-12       Yuba                      11877
39891  2021-11-13       Yuba                      11880
39892  2021-11-14       Yuba                      11880
39893         NaN       Yuba                      11881

[39894 rows x 3 columns]

In [23]:
# Check the columns
CA_county_cases_df.columns

Index(['Year', 'CountyName', 'Cumulative Positive Tests'], dtype='object')

In [31]:
recent_df = CA_county_cases_df.loc[CA_county_cases_df["Year"]=="2021-11-14"]
recent_df

             Year CountyName  Cumulative Positive Tests
652    2021-11-14    Alameda                     145913
1306   2021-11-14     Alpine                         55
1960   2021-11-14     Amador                       6489
2614   2021-11-14      Butte                      22843
3268   2021-11-14  Calaveras                       4860
...           ...        ...                        ...
37276  2021-11-14   Tuolumne                       8799
37930  2021-11-14    Unknown                        244
38584  2021-11-14    Ventura                     120083
39238  2021-11-14       Yolo                      21382
39892  2021-11-14       Yuba                      11880

[61 rows x 3 columns]

In [34]:
# Merging Education 2010-2021 data & California County COVID-19 Cumulative Positive cases

merge_df = pd.merge(combined_data_df, recent_df, on="CountyName")
merge_df

,CountyName,EnrollTotal_2020,EnrollCharter_2020,EnrollNonCharter_2020,African American_2020,American Indian_2020,Asian_2020,Filipino_2020,Hispanic_2020,Pacific Islander_2020,...,White_2021,English Learner_2021,Foster Care_2021,Homeless_2021,Migrant_2021,Students with Disabilities_2021,Socioeconomically Disadvantaged_2021,Year:2021,Year,Cumulative Positive Tests
0,Alameda,222812,19329,203483,20106,577,60099,10260,75114,2231,...,36056,40130,442,2825,855,24977,90679,2020-2021,2021-11-14,145913
1,Alpine,70,0,70,0,36,0,0,2,0,...,34,0,0,9,0,11,45,2020-2021,2021-11-14,55
2,Amador,3958,0,3958,18,89,20,20,868,8,...,2553,101,23,118,0,750,1674,2020-2021,2021-11-14,6489
3,Butte,28777,2926,25851,587,661,1757,124,7230,98,...,15256,1822,245,829,67,3651,16940,2020-2021,2021-11-14,22843
4,Calaveras,4885,0,4885,33,78,30,17,1052,4,...,3059,182,40,100,0,760,2251,2020-2021,2021-11-14,4860
5,Colusa,4698,0,4698,33,55,52,3,3729,9,...,724,1778,28,363,237,553,3376,2020-2021,2021-11-14,2385
6,Contra Costa,172089,5929,166160,14712,514,23019,7193,62267,1064,...,46402,24723,493,1821,10,20298,65844,2020-2021,2021-11-14,114564
7,Del Norte,3981,275,3706,25,561,186,22,887,3,...,1904,233,64,134,0,552,2523,2020-2021,2021-11-14,4142
8,El Dorado,29489,5423,24066,312,225,1108,413,6013,78,...,18700,1827,102,475,0,3528,8792,2020-2021,2021-11-14,17400
9,Fresno,203732,11858,191874,9605,1175,19183,1569,133219,477,...,32027,36323,1400,1876,3776,20268,155248,2020-2021,2021-11-14,170263
10,Glenn,5574,417,5157,24,106,124,12,3107,6,...,1965,1051,25,132,58,665,4213,2020-2021,2021-11-14,3615
11,Humboldt,17279,1920,15359,174,1568,579,43,3273,94,...,8989,1206,226,649,2,2704,9904,2020-2021,2021-11-14,10830
12,Imperial,36533,374,36159,239,358,147,58,33932,11,...,1463,13724,217,1371,2625,3787,27792,2020-2021,2021-11-14,40333
13,Inyo,2752,0,2752,11,439,22,5,1076,3,...,859,275,12,28,0,333,1432,2020-2021,2021-11-14,2086
14,Kern,193191,15156,178035,10553,963,4713,2534,125821,416,...,40783,31561,1124,3289,5056,20703,139138,2020-2021,2021-11-14,147885
15,Kings,29599,4901,24698,1050,298,282,468,20913,65,...,5325,5240,226,496,572,2674,21319,2020-2021,2021-11-14,38046
16,Lake,9811,271,9540,148,396,58,41,3783,13,...,4397,1310,45,439,358,1167,7278,2020-2021,2021-11-14,8048
17,Lassen,3800,507,3293,48,147,32,29,732,57,...,2506,115,55,64,16,368,1880,2020-2021,2021-11-14,8312
18,Los Angeles,1424636,202912,1221724,101993,2816,111570,31017,932214,4122,...,185205,233176,10020,40080,3501,179484,959641,2020-2021,2021-11-14,1851769
19,Madera,31343,2132,29211,439,349,446,65,23364,21,...,5590,6518,210,1058,739,2743,24979,2020-2021,2021-11-14,26919
20,Marin,32992,646,32346,522,138,1525,211,10351,77,...,16642,4747,54,1474,16,3430,9486,2020-2021,2021-11-14,19945
21,Mariposa,1824,141,1683,9,65,16,13,370,0,...,1121,91,26,86,0,184,1180,2020-2021,2021-11-14,1545
22,Mendocino,13192,1182,12010,84,881,115,48,5824,10,...,4920,2533,133,542,647,1601,9425,2020-2021,2021-11-14,8751
23,Merced,58053,336,57717,1469,302,3135,281,43181,180,...,7849,13689,345,1069,1232,5872,44283,2020-2021,2021-11-14,48365
24,Modoc,1369,0,1369,12,70,8,7,481,5,...,682,210,14,3,2,145,943,2020-2021,2021-11-14,273
25,Mono,1622,0,1622,4,25,13,2,880,0,...,605,301,3,4,0,168,792,2020-2021,2021-11-14,2098
26,Monterey,75672,967,74705,1002,208,1294,1226,61410,349,...,7969,25252,137,9164,2665,8338,57249,2020-2021,2021-11-14,54126
27,Napa,19914,930,18984,384,43,449,1228,11277,38,...,5395,4494,60,401,982,2452,10363,2020-2021,2021-11-14,14133
28,Nevada,8386,1514,6872,55,88,82,25,1147,11,...,5747,152,33,117,0,1108,3360,2020-2021,2021-11-14,10289
29,Orange,465428,14263,451165,5867,865,79727,9632,227292,1431,...,106997,90964,1608,20077,483,53631,224954,2020-2021,2021-11-14,375513
30,Placer,74758,9483,65275,1569,463,4913,2132,15405,291,...,42315,5001,159,805,33,8149,20766,2020-2021,2021-11-14,41057
31,Plumas,2186,326,1860,26,76,8,3,347,1,...,1383,62,18,46,0,270,1240,2020-2021,2021-11-14,1854
32,Riverside,419014,18291,400723,24546,1867,13668,7986,271217,1454,...,75386,68188,2643,12624,2084,52440,274447,2020-2021,2021-11-14,436738
33,Sacramento,246750,34757,211993,26236,1346,38104,6725,80177,3424,...,67878,38146,994,5400,917,31505,140871,2020-2021,2021-11-14,186286
34,San Benito,11512,542,10970,49,37,146,87,8746,19,...,1924,2591,38,163,1308,1525,6834,2020-2021,2021-11-14,8868
35,San Bernardino,402262,30395,371867,32581,1670,15624,5290,266071,1590,...,62669,58026,3397,22086,0,49849,284291,2020-2021,2021-11-14,423495
36,San Diego,491983,69717,422266,20963,2367,30299,18359,237852,2105,...,138748,82179,1086,15086,2550,66314,240946,2020-2021,2021-11-14,457881
37,San Francisco,61031,8253,52778,4757,185,17927,2363,19752,498,...,8480,13682,246,2355,135,7359,30866,2020-2021,2021-11-14,68484
38,San Joaquin,147313,19060,128253,11117,992,17759,5968,78351,1056,...,24362,27856,787,3924,938,17562,95383,2020-2021,2021-11-14,117256
39,San Luis Obispo,33976,404,33572,284,136,556,339,13805,55,...,16175,4090,199,2574,345,4208,15164,2020-2021,2021-11-14,32877
40,San Mateo,93246,7589,85657,1206,135,15006,7420,35437,1583,...,23055,17116,116,1541,278,10166,30217,2020-2021,2021-11-14,69246
41,Santa Barbara,68228,3853,64375,597,253,1074,710,48150,82,...,14209,16994,281,6869,1965,7741,43252,2020-2021,2021-11-14,52947
42,Santa Clara,251290,20781,230509,4372,767,77925,10060,93640,1088,...,43848,45929,396,2332,679,26078,82393,2020-2021,2021-11-14,173962
43,Santa Cruz,38704,5815,32889,299,149,829,285,22183,61,...,12588,8464,79,3467,1431,4999,20444,2020-2021,2021-11-14,22508
44,Shasta,26309,3917,22392,332,1015,929,70,4223,93,...,16753,879,239,304,51,3082,13799,2020-2021,2021-11-14,20152
45,Sierra,432,0,432,3,2,1,0,72,1,...,294,11,1,11,0,55,184,2020-2021,2021-11-14,201
46,Siskiyou,5334,0,5334,80,395,113,16,924,13,...,2926,183,46,201,1,451,3208,2020-2021,2021-11-14,3568
47,Solano,62113,4744,57369,8280,233,2453,5262,25149,666,...,13765,7562,259,519,478,7089,30829,2020-2021,2021-11-14,49477
48,Sonoma,67673,18584,49089,1035,571,2073,514,31522,279,...,26810,11677,270,594,1062,9017,32288,2020-2021,2021-11-14,46686
49,Stanislaus,107790,8648,99142,2671,687,4628,925,66270,739,...,25395,25192,415,1189,1980,12621,71636,2020-2021,2021-11-14,92632
50,Sutter,22848,5707,17141,545,167,3029,124,8757,105,...,8744,3590,113,280,597,2358,14688,2020-2021,2021-11-14,16065
51,Tehama,10888,219,10669,84,233,109,20,4583,19,...,5179,1770,119,499,53,1346,7461,2020-2021,2021-11-14,8935
52,Trinity,1484,0,1484,3,89,84,0,147,3,...,1019,60,17,92,0,198,947,2020-2021,2021-11-14,830
53,Tulare,101879,6938,94941,1065,703,2042,776,79871,157,...,13921,23980,725,1797,4033,8007,78192,2020-2021,2021-11-14,78246
54,Tuolumne,5939,682,5257,42,145,55,38,1030,25,...,3942,136,52,203,0,738,2490,2020-2021,2021-11-14,8799
55,Ventura,131679,2565,129114,1530,266,5911,2376,79310,246,...,34832,26413,386,4985,1055,15758,69442,2020-2021,2021-11-14,120083
56,Yolo,29909,2203,27706,826,149,3055,349,14277,164,...,9082,4692,192,481,507,3606,14577,2020-2021,2021-11-14,21382
57,Yuba,14311,1138,13173,512,270,1008,101,5573,71,...,5484,2229,100,137,30,1808,9023,2020-2021,2021-11-14,11880

In [36]:
merge_df.columns

Index(['CountyName', 'EnrollTotal_2020', 'EnrollCharter_2020',
       'EnrollNonCharter_2020', 'African American_2020',
       'American Indian_2020', 'Asian_2020', 'Filipino_2020', 'Hispanic_2020',
       'Pacific Islander_2020', 'White_2020', 'English Learner_2020',
       'Foster Care_2020', 'Homeless_2020', 'Migrant_2020',
       'Students with Disabilities_2020',
       'Socioeconomically Disadvantaged_2020', 'Year:2020', 'EnrollTotal_2021',
       'EnrollCharter_2021', 'EnrollNonCharter_2021', 'African American_2021',
       'American Indian_2021', 'Asian_2021', 'Filipino_2021', 'Hispanic_2021',
       'Pacific Islander_2021', 'White_2021', 'English Learner_2021',
       'Foster Care_2021', 'Homeless_2021', 'Migrant_2021',
       'Students with Disabilities_2021',
       'Socioeconomically Disadvantaged_2021', 'Year:2021', 'Year',
       'Cumulative Positive Tests'],
      dtype='object')

In [35]:
# Reduce the Combined Data Columns to make comparison between ethnic groups vs COVID-19 Cumulative Positive Cases 
# Ethnic groups to be selected will be African American, American Indian, Asian, Filipino, Hispanic, 
# Pacific Islander, and white. 

ethnic_df = combined_data_df[["African American_2019", "African American_2021", "American Indian_2019",
                             "American Indian_2019", "Asian_2019", "Asian_2021", "Filipino_2019",
                              "Filipino_2021", "Hispanic_2019", "Hispanic_2021", "Pacific Islander_2019",
                              "Pacific Islander_2021", "White_2019", "White_2021"
                             ]]
ethnic_df

KeyError: "['African American_2019', 'Asian_2019', 'Pacific Islander_2019', 'Filipino_2019', 'White_2019', 'Hispanic_2019', 'American Indian_2019'] not in index"